* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.banner-container {
    background-image: url('Images/Group\ 13\ \(1\)\ \(1\).png');
    height: 400px;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 50px;
    text-align: center;
    justify-content: center;

}

.banner-container input {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
padding: 25px;
}