* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}




/* banner-container */

.banner-container {
    background-image: url('Images/Group\ 13\ \(1\)\ \(1\).png');
    height: 400px;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 50px;
    text-align: center;
    justify-content: center;

}

.banner-container input {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    padding: 25px;
}




/* popular-tours-section */

.popular-tours-section {
    height: 300px;
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
    padding: 10px;
    display: flex;
    gap: 20px;


}

@media screen {
    
}

@media  (min-width: 600px) { 
    .populartours-section {
        height: 300px;
        width: 80%;
        margin: 0 auto;
        margin-top: 100px;
        padding: 10px;
        display: flex;
        gap: 20px;
        display: flex;
        flex-direction: column;
    }
 }

